<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Your Name List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<div class="header">
  <h1> <%=  listName  %> </h1>
</div>

<div class="list">
 <% for (let i=0; i<listItems.length; i++) { %>
  <form action="/delete" method="post">
  <div class="item" >
    <input type="checkbox" name = "checkbox" value = '<%=i %>' onchange = "this.form.submit();">
    <p><%=  listItems[i]  %></p>
    <input type="hidden" name="thislist" value="<%= listName %>"></input>
  </div>
    </form>
    <% } %> 
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add Item" autocomplete="off" autofocus>
        <button type="submit" name="list" value="<%= listName %>">+</button>
      </form>
    </div>
 
  </body>
</html>


